.App {
  text-align: center;
}
.tag-container{
	min-width: 60%;
	display: flex;
	flex-wrap: wrap;
	min-height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;

}
.tag{
	display:flex;
	align-items: center;
	padding: 5px ;
	border: 1px solid gray;
	height: 25px;
	border-radius: 5px;
	margin: 2px 5px 2px 0px;

}
.tag-container input{
border:none;
flex: 1;
outline: none;
padding: 5px;
}
.tag span{
margin-left: 5px;
cursor: pointer;
}